.content-nav {
    display: flex;
    justify-content: center;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s ease;
}

.content-nav.isActive {
    height: auto;
    opacity: 1;
}